.advantages 
    .container 
        .why
            .title Сертификат 
            .description необходим для подачи документов на оформление разрешения на работу, патента, разрешения на временное проживание, вида на жительство.

        .advantages-list 
            .advantage.advantage--teacher
                .icon
                    img.icon-img(src="../../img/advantage-1.png")
                .description Экзамен проводят специалисты 
                    span.strong Санкт-Петербургского Государственного университета

            .advantage.advantage--tech
                .icon
                    img.icon-img(src="../../img/advantage-2.png")
                .description Тест проходит в уютном классе, оборудованном 
                    span.strong современной техникой

            .advantage.advantage--cert
                .icon
                    img.icon-img(src="../../img/advantage-3.png")
                .description Выдаем сертификат государственного образца в течение 
                    span.strong двух рабочих дней


.exam-structure#exam
    .structure 
        .title Структура экзамена
        .description Экзамен состоит из трех модулей и длится не более 80-90 минут:

    .levels
        .exam-level.exam-level-1
            .title Модуль 1
            .theme Русский язык
            //- .contain Лексика. Грамматика (тест) Чтение (тест) Аудирование (тест) Письмо (1 задание) Устная речь (3-5 заданий)
        .exam-level.exam-level-2
            .title Модуль 2
            .theme История России
            //- .contain Тест из 10 вопросов 
        .exam-level.exam-level-3
            .title Модуль 3
            .theme Основы законодательства РФ
            //- .contain Тест из 10 вопросов

.how-get-cert
    .container 
        .title Как получить сертификат?

        .steps 
            .step.step-1 
                img.icon(src="../../img/step-1.png")
                .description Запишитесь на экзамен в 
                    span.strong удобный для вас 
                    | день и время
            .step.step-2
                img.icon(src="../../img/step-2.png")
                .description Предоставьте 
                    span.strong оригинал паспорта
                    |  и официальный перевод паспорта
            .step.step-3
                img.icon(src="../../img/step-3.png")
                .description Заключите 
                    span.strong договор
                    br 
                    | об оказании услуг
            .step.step-4
                img.icon(src="../../img/step-4.png")
                .description Сдайте тест и получите 
                    span.strong сертификат! 

.work-schedule 
    .container
        .top-row 
            .title График работы
            .time 
                .start 9:00
                .defis 
                .end 18:00  

        .bottom-row 
            .day.day-work пн
            .day.day-work вт
            .day.day-work ср
            .day.day-work чт
            .day.day-work пт
            .day.day-weekend сб
            .day.day-weekend вс

.certificate#cert 
    .container 
        .info
            .title Государственный<br>сертификат
            .texts
                .col.col-left 
                    .paragraph Выдаем сертификат 
                        span.strong государственного 
                        |  образца о владении русским языком
                    .paragraph В сертификате указываются фамилия, имя, отчество тестируемого, дата рождения, паспортные данные в соответствии с официальным переводом  
                        span.strong  иностранного паспорта
                .col.col-right 
                    .paragraph Внимательно проверяйте, верно ли указаны 
                        span.strong  ваши данные 
                        |  при получении
                    .paragraph Срок действия сертификата с момента выдачи:
                        br
                        | для патента - 
                        span.strong  3 года;
                        br
                        | РВТ - 
                        span.strong  3 года;
                        br
                        | ВНЖ - 
                        span.strong  бессрочно;
        .cert
            img.cert-img(src="../../img/certificate.png" alt="certificate")


.tests-examples
    .container 
        .title Образцы типовых тестов

        .tests
            a.test(href="../../img/test-patent.pdf")
                img.test-img(src="../../img/demo-test-1.png")
                .caption Для получения разрешения на 
                    span.strong работу или патента (уровень 1)
            a.test(href="../../img/test-rvp.pdf")
                img.test-img(src="../../img/demo-test-1.png")
                .caption Для получения разрешения на 
                    span.strong временное проживание (уровень 2)
            a.test(href="../../img/test-vnzh.pdf")
                img.test-img(src="../../img/demo-test-1.png")
                .caption Для получения разрешения на 
                    span.strong вид на жительство (уровень 3)

.map-block 
    .map-wrap 
        iframe.map(src="https://yandex.ru/map-widget/v1/?um=constructor%3A0805b4b1f67b853eac30d5dbb9ca73794ef725399c09128ee5dabaae48160081&amp;source=constructor"
            width="1280"
            height="720"
            frameborder="0")
    .registration
        form.form-registration 
            .title Записаться на экзамен

            label.field
                span.field-label Ваше имя
                    input.js-masked-name(type="text" placeholder="Введите имя")

            label.field
                span.field-label Номер телефона
                    input.js-masked-phone(type="text" placeholder="+7...")
                    
            input.btn.btn-green.submit(type="submit" value="Записаться")