footer#contacts
    .container 
        .logo-column 
            a.logo(href="/")
                img.logo-img(src="../../img/logo-light.svg" alt="libro logo")

            .work-time График работы:
                <br>
                | понедельник-пятница
                <br>
                | с 9:00 до 18:00 
            .contacts 
                a.phone(href="tel:+78124026770") +7 (812) 402-67-70
                a.email(href="mailto:info@libro.spb.ru") info@libro.spb.ru
                
        .addresses 
            .address м. Московская,
                <br>
                | ул. Кубинская, д.77
                a.phone(href="tel:+78124026770") +7 (812) 402-67-70
            .address м. Нарвская,
                <br>
                | ул. Межевой канал, д.1
                a.phone(href="tel:+78124034770") +7 (812) 403-47-70
            .address м. Выборгская,
                <br>
                | пр. Полюстровский, д.59Х
                a.phone(href="tel:+78124035770") +7 (812) 403-57-70
            .address м. Новочеркасская,
                <br>
                | ул. Якорная, д.7
                a.phone(href="tel:+78124036770") +7 (812) 403-67-70
        //- .contacts 
            a.phone(href="tel:+78124026770") +7 (812) 402-67-70
            a.email(href="mailto:info@libro.spb.ru") info@libro.spb.ru

    .to-top.js-to-top Наверх