footer 
    .container 
        .logo-column 
            a.logo(href="/")
                img.logo-img(src="../../img/logo-light.svg" alt="libro logo")

            .work-time График работы:
                | понедельник-пятница
                | с 9:00 до 18:00 
        .addresses 
            .address м. Московская, ул. Кубинская, д. 77, лит. А
            .address м. Московская, ул. Кубинская, д. 77, лит. А
            .address м. Московская, ул. Кубинская, д. 77, лит. А
            .address м. Московская, ул. Кубинская, д. 77, лит. А
        .contacts 
            a.phone(href="tel:+78124546265") +7 812 454-62-65
            a.email(href="mailto:info@libro.spb.ru") info@libro.spb.ru

    .to-top.js-to-top Наверх