header 
    .container 
        .top-line 
            .logo 
                img(src="/img/logo.svg", alt="Libro")
            nav.main-nav 
                a.nav-link(href="#exam") Экзамен
                a.nav-link(href="#cert") Сертификат
                a.nav-link(href="#contacts") Контакты
            .contacts 
                .phone 
                    a.phone-link(href="tel:+78124546265") +7 812 454-62-65
    
        .promo 
            .offer Центр языкового тестирования
            .suboffer Получите сертификат о владении русским языком как иностранным, историей России и основ законодательства РФ для подачи документов на оформление разрешения на работу, патента, РВП, ВНЖ

            .btn.btn--green.js-callback Записаться на экзамен