header 
    .top-line 
        .logo 
            img(src="/img/logo.svg", alt="Libro")
        nav.main-nav 
            a.nav-link(href="#") Сертификат
            a.nav-link(href="#") Экзамен
            a.nav-link(href="#") Контакты
        .contacts 
            .phone 
                a.phone-link(href="tel:+78124546265") +7 812 454-62-65
    
    .promo 
        .offer Центр языкового тестирования
        .suboffer Получите сертификат о владении русским языком для патента или разрешения на работу

        .btn.btn--green.js-callback Записаться на экзамен