* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    outline: none;
    font-family: "Circe", sans-serif;
    transition: all 0.3s linear;
}

html {
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    // font-size: 0.92593vh;
    // font-size: 1.065vh;
    font-size: 0.5215vw;
    color: $text;
}
@media screen and (max-width: 1440px) {
    body {
    }
}
.strong {
    font-weight: bold;
    display: inline-block;
}

.btn {
    font-size: 1.8em;
    font-weight: 700;
    border: 0.1em solid transparent;
    border-radius: 10em;
    padding: 0.6em 2.4em;
    transition: all 0.3s linear;
    cursor: pointer;
}
.btn-green {
    color: #fff;
    background-color: $green;
    border: 0.1em solid $green;

    &:hover {
        background-color: #407045;
    }
}
