@font-face {
    font-family: "Circe";
    src: local("Circe Regular"), local("Circe-Regular"),
        url("fonts/Circe-Regular.woff2") format("woff2"),
        url("fonts/Circe-Regular.woff") format("woff"),
        url("fonts/Circe-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: local("Circe Bold"), local("Circe-Bold"),
        url("fonts/Circe-Bold.woff2") format("woff2"),
        url("fonts/Circe-Bold.woff") format("woff"),
        url("fonts/Circe-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: local("Circe ExtraBold"), local("Circe-ExtraBold"),
        url("fonts/Circe-ExtraBold.woff2") format("woff2"),
        url("fonts/Circe-ExtraBold.woff") format("woff"),
        url("fonts/Circe-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
