footer {
    background-color: $text;
    .container {
        max-width: 130em;
        margin: 0 auto;
        padding: 4.2em 5.2em 0;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        .logo-column {
            width: 28em;
            padding: 0.5em 0 0 0;
            flex: none;
            @media screen and (max-width:1440px) {
                width: 35em;
            }

            .logo {
                margin: -1em 0 1.4em -1.4em;
                width: 16.2em;
                display: inline-block;
                cursor: pointer;
                text-decoration: none;
                color: inherit;
                .logo-img {
                    width: 100%;
                    height: auto;
                }
                @media screen and (max-width:1440px) {
                    margin-bottom: 3.9em;
                }
            }

            .work-time {
                font-size: 2em;
                line-height: 1.2;
                color: #fff;
                padding: 0 2.4em 0 0;
                font-weight: 300;
                margin: 0 0 1.4em 0;
                @media screen and (max-width:1440px) {
                    font-size: 2.4em;
                }
            }
            .contacts {
                // display: flex;
                // align-items: flex-start;
                // justify-content: flex-end;
                // flex-direction: column;
                // flex: 1;
                // padding: 0 0 7.4em 3.2em;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex: 1;
                .phone {
                    display: block;
                    width: 100%;
                    color: #fff;
                    font-size: 2em;
                    text-decoration: none;
                }
                .email {
                    display: block;
                    width: 100%;
                    color: #fff;
                    font-size: 2em;
                    text-decoration: none;
                }
            }
        }
        .addresses {
            width: 58em;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
            flex: none;
            @media screen and (max-width:1440px) {
                width: 70em;
            }
            .address {
                width: 50%;
                font-size: 2em;
                color: #fff;
                padding: 0 0 2.4em 0.3em;

                @media screen and (max-width:1440px) {
                    font-size: 2.4em;
                }

                &:nth-child(2) {
                    padding-left: 4em;
                }
                &:nth-child(4) {
                    padding-left: 4em;
                }

                .phone {
                    margin: 0.2em 0 0 0;
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        
    }

    .to-top {
        position: fixed;
        display: none;
        left: 4em;
        font-size: 1.6em;
        color: #fff;
        bottom: 8.6em;
        background-color: #3799c3;
        width: auto;
        height: auto;
        border-radius: 10em;
        z-index: 100;
        padding: 2.1em 1em;
        cursor: pointer;
        transition: all .3s linear;

        &:hover {
            background-color: #1585b5;
        }
    }
    .js-to-top {}
}