header {
    padding: 2.1em 0 0 0;
    background-image: url(../img/promo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 102% 101%;
    .top-line {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 480px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 auto;
            padding: 0 4em;
        }
        .logo {
            width: 15.8em;
            left: 34.1em;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            color: inherit;

            @media screen and (max-width: 1440px) {
                width: 25.8em;
                left: 33.1em;
            }
            @media screen and (max-width: 768px) {
                left: auto;
                overflow: hidden;
            }
            img {
                width: 100%;
                height: auto;

                @media screen and (max-width: 768px) {
                    margin-left: -2.5em;
                }
            }
        }
        .main-nav {
            display: inline-flex;
            align-items: center;
            left: 42.3em;
            top: auto;
            @media screen and (max-width: 768px) {
                display: none;
            }
            .nav-link {
                text-decoration: none;
                color: inherit;
                font-size: 1.6em;
                font-weight: normal;
                margin: 0 1.5em 0 0;
                letter-spacing: 0.035em;
                &:hover {
                    color: $accent;
                }

                @media screen and (max-width: 1440px) {
                    font-size: 2.4em;
                }
            }
        }
        .contacts {
            left: 49.8em;
            width: 17.2em;
            top: -0.2em;
            background: $text;
            border-radius: 10em;
            cursor: pointer;

            @media screen and (max-width: 1440px) {
                width: 25em;
            }
            @media screen and (max-width: 768px) {
                left: 20em;
            }
            .phone {
                width: 100%;
                height: 100%;
                background-image: url(../img/icon-phone.svg);
                background-position: 0.7em 0.73em;
                background-repeat: no-repeat;
                background-size: 13%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 1em 1.1em 0.8em;

                .phone-link {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.6em;
                    font-weight: bold;
                    letter-spacing: 0.01em;

                    @media screen and (max-width: 1440px) {
                        font-size: 2.4em;
                    }
                }
            }

            &:hover {
                background: $accent;
            }
        }
    }

    .promo {
        // height: 62.4em;
        height: 61em;
        @media screen and (max-width: 768px) {
            max-width: 480px;
            width: 100%;
            padding: 3em 4em;
            margin: 0 auto;
        }
        .offer {
            font-size: 8.6em;
            font-weight: 900;
            top: 0.7em;
            left: 4.07em;
            letter-spacing: -0.03em;
            width: 7.4em;
            line-height: 0.95;
            color: $accent;
            @media screen and (max-width: 768px) {
                left: auto;
                font-size: 6em;
                position: static;
                margin-bottom: 0.6em;
                top: 0;
                width: 50%;
            }
        }
        .suboffer {
            font-size: 2.8em;
            color: inherit;
            font-weight: bold;
            left: 12.6em;
            top: 3.3em;
            width: 19.5em;
            line-height: 1.125;
            @media screen and (max-width: 768px) {
                left: auto;
                font-size: 3.6em;
                position: static;
                width: 55%;
            }
        }

        .btn {
            font-size: 2em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0.7em 1.55em;
            top: 8em;
            left: 17.6em;
            border-radius: 10em;

            @media screen and (max-width: 1440px) {
                font-size: 2.4em;
                top: 6em;
                left: 14.8em;
            }
            @media screen and (max-width: 768px) {
                position: relative;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                margin: 1.5em auto;
                font-size: 2.8em;
            }
        }
        .btn--green {
            color: #fff;
            background: $green;
        }
        .js-callback {
            cursor: pointer;
        }
    }
}
