.advantages {
    height: 57.2em;
    width: 100%;
    background-image: url(/img/bg-advantages.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    .container {
        width: 125em;
        left: 55.3em;
        height: 100%;
        .why {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            top: 16.4em;
            left: 0.2em;
            .title {
                font-size: 4.2em;
                color: $accent;
                font-weight: 900;
                width: 8em;
                line-height: 0.9;
                .company-name {
                    display: block;
                    margin: 0.25em 0 0 0;
                }
            }
            .description {
                font-size: 2em;
                top: 2.3em;
                left: 0.1em;
                width: 11em;
                line-height: 1.245;
                color: #fff;
                span.strong {
                }
            }
        }

        .advantages-list {
            left: 45em;
            // width: 73em;
            width: auto;
            top: -7.3em;
            display: flex;
            align-items: stretch;
            .advantage {
                display: inline-block;
                width: 18em;
                .icon {
                    .icon-img {
                        width: 16em;
                    }
                }
                .description {
                    font-size: 2em;
                    color: #fff;
                    top: 1.25em;
                    text-align: center;
                    line-height: 1.225;
                    span.strong {
                    }
                }
            }
            .advantage.advantage--teacher {
                margin: 0 10.7em 0 0;

                .icon {
                    .icon-img {
                    }
                }
                .description {
                    span.strong {
                    }
                }
            }

            .advantage.advantage--tech {
                margin: 0 8.5em 0 0;
                .icon {
                    .icon-img {
                    }
                }
                .description {
                    left: -0.5em;
                    span.strong {
                    }
                }
            }

            .advantage.advantage--cert {
                .icon {
                    .icon-img {
                    }
                }
                .description {
                    left: -0.5em;
                    span.strong {
                    }
                }
            }
        }
    }
}

.exam-structure {
    height: 42.3em;
    .structure {
        position: absolute;
        display: block;
        width: 22em;
        left: 35.3em;
        top: 8.9em;
        .title {
            color: $green;
            font-size: 4.2em;
            font-weight: 800;
            line-height: 1;
            margin: 0 0 0.8em 0;
        }
        .description {
            font-size: 2em;
            font-weight: normal;
            line-height: 1.25;
        }
    }

    .levels {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: auto;
        position: absolute;
        left: 78em;
        top: 10em;
        border-top: 0.3em solid;
        .exam-level {
            width: 30em;
            padding: 3.5em 0 0 0;
            flex: none;

            .title {
                font-size: 2em;
                font-weight: bold;
                color: $green;
                margin: 0 0 0.3em 0;
            }
            .theme {
                font-size: 2em;
                font-weight: bold;
                color: inherit;
                margin: 0 0 0.3em 0;
            }
            .contain {
                font-size: 2em;
                font-weight: normal;
                color: inherit;
                line-height: 1.55;
            }
            &::before {
                position: absolute;
                display: block;
                content: "";
                background-color: #6ba671;
                width: 1.8em;
                height: 1.8em;
                top: -1em;
                left: 0;
                border-radius: 3em;
                z-index: 10;
            }
        }
        .exam-level-1 {
            width: 35.3em;
            padding-right: 10em;

            &::before {
            }
        }
        .exam-level-2 {
            width: 24.3em;
            &::before {
            }
        }
        .exam-level-3 {
            &::before {
            }
        }
    }
}

.how-get-cert {
    background-color: $text;
    height: 68.3em;
    .container {
        max-width: 129.835em;
        margin: 0 auto;
        height: 100%;

        &::before {
            display: block;
            position: absolute;
            content: "";
            background-image: url(../img/folders.png);
            background-position: center;
            width: 54.2em;
            background-size: 100%;
            background-repeat: no-repeat;
            height: 36em;
            top: -6em;
            left: 1em;
            z-index: 5;
        }
        .title {
            font-size: 8.6em;
            color: #fff;
            font-weight: 800;
            width: 100%;
            padding: 0.75em 0.4em 0 8.6em;
            text-align: right;
            letter-spacing: -0.029em;
            line-height: 0.92;
        }

        .steps {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            margin-top: 10em;
            .step {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                .icon {
                    display: block;
                    width: 19.5em;
                }
                .description {
                    font-size: 2em;
                    color: #fff;
                    text-align: center;
                    padding: 0.9em 3.5em;
                    .strong {
                    }
                }
            }
            .step.step-1 {
                .icon {
                }
                .description {
                    .strong {
                    }
                }
            }
            .step.step-2 {
                padding: 0 0 0 2.4em;
                .icon {
                }
                .description {
                    padding: 0.9em 2.2em 0 1em;
                    .strong {
                    }
                }
            }
            .step.step-3 {
                padding: 0 0 0 2.7em;
                .icon {
                }
                .description {
                    padding: 0.9em 0em;
                    .strong {
                    }
                }
            }
            .step.step-4 {
                padding: 0 0 0 4em;
                .icon {
                }
                .description {
                    padding: 0.9em 3.5em;
                    .strong {
                    }
                }
            }
        }
    }
}

.work-schedule {
    .container {
        max-width: 130em;
        margin: 0 auto;
        padding: 10em 3.3em 11.6em 4.7em;
        .top-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 7.4em 0;
            .title {
                font-size: 8.6em;
                font-weight: 800;
                display: inline-block;
                flex: none;
            }
            .time {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                flex: none;
                width: 48.7em;
                padding: 0.4em 0 0 0;
                color: $accent;
                .start {
                    font-size: 8em;
                    font-weight: normal;
                }
                .end {
                    font-size: 8em;
                    font-weight: normal;
                }
                .defis {
                    display: block;
                    width: 8em;
                    height: 1px;
                    background-color: $accent;

                    &::before {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 1.4em;
                        height: 1.4em;
                        border-radius: 2em;
                        top: 50%;
                        left: 0;
                        transform: translate(-50%, -50%);
                        background-color: $accent;
                    }
                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 1.4em;
                        height: 1.4em;
                        border-radius: 2em;
                        top: 50%;
                        right: 0;
                        transform: translate(50%, -50%);
                        background-color: $accent;
                    }
                }
            }
        }

        .bottom-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.6em 0 0.9em;
            .day {
                font-size: 4em;
                font-weight: 800;
                text-transform: uppercase;
                border-radius: 10em;
                color: #fff;
                width: 2.9em;
                height: 2.9em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .day-work {
                background-color: $accent;

                &::after {
                    position: absolute;
                    display: block;
                    width: 100%;
                    content: "";
                    height: 1px;
                    background-color: $accent;
                    top: 50%;
                    left: 80%;
                    z-index: -1;
                }

                &:last-child {
                    display: none;

                    &::after {
                        display: none;
                    }
                }
            }
            .day.day-work {
                &:last-of-type {
                    display: none;
                }
            }
            .day-weekend {
                background-color: $green;
            }
        }
    }
}
.certificate {
    background-color: #f4f4f4;
    .container {
        padding: 7em 0 6.5em 0;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        .info {
            width: 50%;
            flex: none;
            padding: 6.9em 0 0 12.8em;
            .title {
                font-size: 6.8em;
                font-weight: 900;
                letter-spacing: -0.01em;
                line-height: 0.95;
                color: $accent;
                width: 100%;
                margin: 0 0 1.6em 0;

                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 50vw;
                    height: 0.03em;
                    background-color: #3799c3;
                    bottom: -0.05em;
                    left: 0;
                    z-index: 1;
                }
            }
            .texts {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                .col {
                    width: 50%;
                    .paragraph {
                        font-size: 2em;
                        color: $text;
                        font-weight: normal;
                        line-height: 1.15;
                        margin: 0 0 1.85em 0;
                    }
                }
                .col-left {
                    padding: 0 4.5em 0 0;
                    .paragraph {
                    }
                }
                .col-right {
                    padding: 0 0 0 2.2em;
                    .paragraph {
                    }
                }
            }
        }
        .cert {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 4.4em 0 0;
            z-index: 100;
            .cert-img {
                width: 80em;
                border-style: none;
                height: auto;
            }
        }
    }
}

.tests-examples {
    .container {
        padding: 6.5em 0;
        max-width: 130em;
        margin: 0 auto;
        .title {
            font-size: 8.6em;
            font-weight: 800;
            width: 100%;
            text-align: center;
            padding: 0 0 0 0.2em;
            margin: 0 0 0.675em 0;
        }

        .tests {
            display: flex;
            align-items: stretch;
            justify-content: space-around;
            .test {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 35em;
                text-align: center;
                .test-img {
                    margin: 0 0 1.2em 0;
                    display: block;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
                .caption {
                    font-size: 2em;
                    text-align: center;
                }
            }
        }
    }
}
