.advantages {
    height: 57.2em;
    width: 100%;
    background-color: $text;
    // background-image: url(../img/bg-advantages.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    @media screen and (max-width: 991px) {
        padding: 7em 0;
        height: auto;
    }
    @media screen and (max-width: 768px) {
        font-size: 1.4em;
    }
    @media screen and (max-width: 580px) {
        font-size: 1.8em;
    }
    @media screen and (max-width: 420px) {
        font-size: 2.6em;
    }
    .container {
        width: 155em;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 0 38em;
        box-sizing: border-box;
        @media screen and (max-width: 991px) {
            flex-wrap: wrap;
            align-items: flex-start;
            padding: 0;
            max-width: 135em;
            width: 100%;
            position: relative;
        }
        &::after {
            position: absolute;
            content: "";
            display: block;
            background-image: url(../img/checklist.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 37em;
            height: 37em;
            top: 11em;
            left: -7em;
            z-index: 1;
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
        .why {
            position: relative;
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: -3em 0 0 0;
            width: 30%;
            @media screen and (max-width: 991px) {
                width: 100%;
                margin: 3em 0 10em 0;
                text-align: center;
            }
            .title {
                font-size: 4.2em;
                color: #fff;
                font-weight: 900;
                width: 8em;
                line-height: 0.9;
                @media screen and (max-width: 991px) {
                    width: 50%;
                    margin: 0 auto 0.5em;
                }
            }
            .description {
                font-size: 2em;
                margin: 2.3em 0 0 0.1em;
                width: 13em;
                line-height: 1.245;
                color: #fff;
                @media screen and (max-width: 991px) {
                    width: 50%;
                    margin: 0 auto;
                    font-size: 2.8em;
                }
                @media screen and (max-width: 580px) {
                    width: 90%;
                }
                span.strong {
                }
            }
        }

        .advantages-list {
            width: auto;
            top: auto;
            display: inline-flex;
            align-items: stretch;
            justify-content: space-between;
            flex: 1;
            @media screen and (max-width: 991px) {
                width: 100%;
                flex-wrap: wrap;
            }
            .advantage {
                display: inline-block;
                width: 33.3333%;
                padding: 0 2em;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 5em;
                }
                .icon {
                    text-align: center;
                    .icon-img {
                        width: 16em;
                    }
                }
                .description {
                    font-size: 2em;
                    color: #fff;
                    margin: 1.25em 0 0 0;
                    text-align: center;
                    line-height: 1.225;
                    @media screen and (max-width: 991px) {
                        font-size: 2.8em;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 3.4em;
                        max-width: 50%;
                        margin: 1em auto 0;
                    }
                    span.strong {
                    }
                }
            }
            .advantage.advantage--teacher {
                margin: 0;
                @media screen and (max-width: 768px) {
                    margin-bottom: 10em;
                }
                .icon {
                    .icon-img {
                    }
                }
                .description {
                    span.strong {
                    }
                }
            }

            .advantage.advantage--tech {
                margin: 0;
                @media screen and (max-width: 768px) {
                    margin-bottom: 10em;
                }
                .icon {
                    .icon-img {
                    }
                }
                .description {
                    padding: 0 2em;
                    @media screen and (max-width: 991px) {
                        padding: 0;
                    }
                    span.strong {
                    }
                }
            }

            .advantage.advantage--cert {
                margin: 0;
                @media screen and (max-width: 768px) {
                    margin-bottom: 10em;
                }
                .icon {
                    .icon-img {
                    }
                }
                .description {
                    span.strong {
                    }
                }
            }
        }
    }
}

.exam-structure {
    padding: 9em 0 14em;
    @media screen and (max-width: 768px) {
        font-size: 1.4em;
    }
    @media screen and (max-width: 580px) {
        font-size: 2.2em;
    }
    @media screen and (max-width: 420px) {
        font-size: 2.6em;
    }
    .container {
        max-width: 145em;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 991px) {
            max-width: 135em;
            width: 100%;
            flex-wrap: wrap;
        }
        .structure {
            display: inline-block;
            width: 22em;
            margin: 0 0 0 13em;
            @media screen and (max-width: 991px) {
                width: 70%;
                text-align: center;
                margin: 0 auto 10em;
            }
            .title {
                color: $green;
                font-size: 4.2em;
                font-weight: 800;
                line-height: 1;
                margin: 0 0 0.8em 0;
                @media screen and (max-width: 991px) {
                    margin-bottom: 0.5em;
                }
            }
            .description {
                font-size: 2em;
                font-weight: normal;
                line-height: 1.25;

                @media screen and (max-width: 991px) {
                    font-size: 2.8em;
                    width: 50%;
                    margin: 0 auto;
                }
                @media screen and (max-width: 580px) {
                    width: 90%;
                }
            }
        }

        .levels {
            display: inline-flex;
            align-items: stretch;
            justify-content: space-between;
            width: auto;

            @media screen and (max-width: 991px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                max-width: 80em;
                margin: 0 auto;
                margin-left: 35em;
            }
            @media screen and (max-width: 580px) {
                margin: 0 auto;
            }
            .exam-level {
                width: 30em;
                padding: 0 0 4.5em 0;
                flex: none;

                .title {
                    font-size: 2em;
                    font-weight: bold;
                    color: $green;
                    margin: 0 0 0.3em 0;
                    @media screen and (max-width: 991px) {
                        font-size: 3.4em;
                        margin: 0 1em 0 0;
                    }
                }
                .theme {
                    font-size: 2em;
                    font-weight: bold;
                    color: inherit;
                    margin: 0 0 0.3em 0;
                    @media screen and (max-width: 991px) {
                        font-size: 2.8em;
                        margin: 0;
                    }
                }
                .contain {
                    font-size: 2em;
                    font-weight: normal;
                    color: inherit;
                    line-height: 1.55;
                }
                &::before {
                    position: absolute;
                    display: flex;
                    content: "";
                    background-color: #6ba671;
                    width: 1.6em;
                    height: 1.6em;
                    bottom: -0.8em;
                    left: 0;
                    border-radius: 10em;
                    z-index: 10;
                    content: "1";
                    color: #fff;
                    align-items: center;
                    justify-content: center;
                    font-size: 4em;
                    font-weight: 900;
                    padding: 0.1em 0.05em 0 0;
                    box-sizing: border-box;

                    @media screen and (max-width: 991px) {
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            .exam-level-1 {
                width: 35.3em;
                padding-right: 10em;
                border-bottom: 0.3em solid $green;

                @media screen and (max-width: 991px) {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border: none;
                    padding: 0 0 0 15em;
                    margin: 0 0 7em 0;
                }
                @media screen and (max-width: 420px) {
                    padding-left: 10em;
                }

                &::before {
                    content: "1";
                }
            }
            .exam-level-2 {
                width: 24.3em;
                border-bottom: 0.3em solid $green;

                @media screen and (max-width: 991px) {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border: none;
                    padding: 0 0 0 15em;
                    margin: 0 0 7em 0;
                }
                @media screen and (max-width: 420px) {
                    padding-left: 10em;
                }
                &::before {
                    content: "2";
                }
            }
            .exam-level-3 {
                @media screen and (max-width: 991px) {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border: none;
                    padding: 0 0 0 15em;
                }
                @media screen and (max-width: 420px) {
                    padding-left: 10em;
                }
                &::before {
                    content: "3";
                }
            }
        }
    }
}

.how-get-cert {
    background-color: $text;
    height: 68.3em;
    @media screen and (max-width: 991px) {
        height: auto;
        padding: 0 0 7em 0;
    }
    @media screen and (max-width: 768px) {
        font-size: 1.4em;
    }
    @media screen and (max-width: 580px) {
        font-size: 1.8em;
    }
    @media screen and (max-width: 420px) {
        font-size: 2.6em;
    }
    .container {
        max-width: 129.835em;
        margin: 0 auto;
        height: 100%;
        @media screen and (max-width: 991px) {
            max-width: 135em;
            width: 100%;
        }
        &::before {
            display: block;
            position: absolute;
            content: "";
            background-image: url(../img/folders.png);
            background-position: center;
            width: 54.2em;
            background-size: 100%;
            background-repeat: no-repeat;
            height: 36em;
            top: -6em;
            left: 1em;
            z-index: 5;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        .title {
            font-size: 8.6em;
            color: #fff;
            font-weight: 800;
            width: 100%;
            padding: 0.75em 0.4em 0 8.6em;
            text-align: right;
            letter-spacing: -0.029em;
            line-height: 0.92;
            @media screen and (max-width: 768px) {
                padding: 1em 0 0 0;
                text-align: center;
                max-width: 100%;
            }
            @media screen and (max-width: 580px) {
                font-size: 6em;
            }
        }

        .steps {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            margin-top: 10em;
            @media screen and (max-width: 991px) {
                flex-wrap: wrap;
                align-items: stretch;
            }
            .step {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 10em;
                }
                .icon {
                    display: block;
                    width: 19.5em;

                    @media screen and (max-width: 768px) {
                        width: 25em;
                    }
                }
                .description {
                    font-size: 2em;
                    color: #fff;
                    text-align: center;
                    padding: 0.9em 3.5em;

                    @media screen and (max-width: 991px) {
                        font-size: 2.8em;
                        padding: 0.4em;
                    }
                    @media screen and (max-width: 768px) {
                        max-width: 50%;
                        margin: 0 auto;
                        font-size: 3.4em;
                    }
                    .strong {
                    }
                }
            }
            .step.step-1 {
                .icon {
                }
                .description {
                    .strong {
                    }
                }
            }
            .step.step-2 {
                padding: 0 0 0 2.4em;
                .icon {
                }
                .description {
                    padding: 0.9em 2.2em 0 1em;
                    @media screen and (max-width: 991px) {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .strong {
                    }
                }
            }
            .step.step-3 {
                padding: 0 0 0 2.7em;
                .icon {
                }
                .description {
                    padding: 0.9em 0em;
                    .strong {
                    }
                }
            }
            .step.step-4 {
                padding: 0 0 0 4em;
                .icon {
                }
                .description {
                    padding: 0.9em 3.5em;
                    .strong {
                    }
                }
            }
        }
    }
}

.work-schedule {
    @media screen and (max-width: 768px) {
        font-size: 1.4em;
    }
    @media screen and (max-width: 580px) {
        font-size: 1.8em;
    }
    @media screen and (max-width: 420px) {
        font-size: 2.6em;
    }
    .container {
        max-width: 130em;
        margin: 0 auto;
        padding: 10em 3.3em 11.6em 4.7em;
        .top-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 7.4em 0;
            @media screen and (max-width: 580px) {
                flex-direction: column;
            }
            .title {
                font-size: 8.6em;
                font-weight: 800;
                display: inline-block;
                flex: none;
            }
            .time {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                flex: none;
                width: 48.7em;
                padding: 0.4em 0 0 0;
                color: $accent;
                .start {
                    font-size: 8em;
                    font-weight: bold;
                }
                .end {
                    font-size: 8em;
                    font-weight: bold;
                }
                .defis {
                    display: block;
                    width: 8em;
                    height: 0.4em;
                    background-color: $accent;

                    &::before {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 1.4em;
                        height: 1.4em;
                        border-radius: 2em;
                        top: 50%;
                        left: 0;
                        transform: translate(-50%, -50%);
                        background-color: $accent;
                    }
                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 1.4em;
                        height: 1.4em;
                        border-radius: 2em;
                        top: 50%;
                        right: 0;
                        transform: translate(50%, -50%);
                        background-color: $accent;
                    }
                }
            }
        }

        .bottom-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.6em 0 0.9em;
            .day {
                font-size: 4em;
                font-weight: 800;
                text-transform: uppercase;
                border-radius: 10em;
                color: #fff;
                width: 2.9em;
                height: 2.9em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .day-work {
                background-color: $accent;

                &:nth-child(1) {
                    &::after {
                        position: absolute;
                        display: block;
                        width: 100%;
                        content: "";
                        height: 0.1em;
                        background-color: #3799c3;
                        top: 50%;
                        left: 80%;
                        transform: translateY(-50%);
                        z-index: -1;
                        @media screen and (max-width: 580px) {
                            display: none;
                        }
                    }
                }

                &:nth-child(2) {
                    &::after {
                        position: absolute;
                        display: block;
                        width: 100%;
                        content: "";
                        height: 0.1em;
                        background-color: #3799c3;
                        top: 50%;
                        left: 80%;
                        transform: translateY(-50%);
                        z-index: -1;
                        @media screen and (max-width: 580px) {
                            display: none;
                        }
                    }
                }

                &:nth-child(3) {
                    &::after {
                        position: absolute;
                        display: block;
                        width: 100%;
                        content: "";
                        height: 0.1em;
                        background-color: #3799c3;
                        top: 50%;
                        left: 80%;
                        transform: translateY(-50%);
                        z-index: -1;
                        @media screen and (max-width: 580px) {
                            display: none;
                        }
                    }
                }

                &:nth-child(4) {
                    &::after {
                        position: absolute;
                        display: block;
                        width: 100%;
                        content: "";
                        height: 0.1em;
                        background-color: #3799c3;
                        top: 50%;
                        left: 80%;
                        transform: translateY(-50%);
                        z-index: -1;
                        @media screen and (max-width: 580px) {
                            display: none;
                        }
                    }
                }
            }
            .day-weekend {
                background-color: $green;
                opacity: 0.5;

                @media screen and (max-width: 580px) {
                    display: none;
                }
            }
        }
    }
}
.certificate {
    background-color: #f4f4f4;
    @media screen and (max-width: 768px) {
        font-size: 1.4em;
    }
    @media screen and (max-width: 420px) {
        font-size: 2.6em;
    }
    .container {
        padding: 7em 0 6.5em 0;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        @media screen and (max-width: 991px) {
            flex-wrap: wrap;
            max-width: 135em;
            width: 100%;
            margin: 0 auto;
        }
        @media screen and (max-width: 580px) {
            font-size: 1.4em;
        }
        .info {
            width: 50%;
            flex: none;
            padding: 6.9em 0 0 12.8em;

            @media screen and (max-width: 991px) {
                width: 60%;
                margin: 0 auto;
                padding-left: 0;
            }
            @media screen and (max-width: 580px) {
                width: 90%;
                padding-top: 0;
            }
            .title {
                font-size: 6.8em;
                font-weight: 900;
                letter-spacing: -0.01em;
                line-height: 0.95;
                color: $accent;
                width: 100%;
                margin: 0 0 1.6em 0;
                @media screen and (max-width: 580px) {
                    font-size: 6em;
                }

                br {
                    @media screen and (max-width: 580px) {
                        display: none;
                    }
                }

                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 50vw;
                    height: 0.03em;
                    background-color: $accent;
                    bottom: -0.05em;
                    left: 0;
                    z-index: 1;
                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }
                }
            }
            .texts {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                @media screen and (max-width: 991px) {
                    flex-direction: column;
                }
                .col {
                    width: 50%;
                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }
                    .paragraph {
                        font-size: 2em;
                        color: $text;
                        font-weight: normal;
                        line-height: 1.15;
                        margin: 0 0 1.85em 0;

                        @media screen and (max-width: 1440px) {
                            font-size: 2.4em;
                        }
                        @media screen and (max-width: 991px) {
                            font-size: 2.8em;
                        }
                    }
                }
                .col-left {
                    padding: 0 4.5em 0 0;
                    @media screen and (max-width: 991px) {
                        padding: 0;
                    }
                    .paragraph {
                    }
                }
                .col-right {
                    padding: 0 0 0 2.2em;
                    @media screen and (max-width: 991px) {
                        padding: 0;
                    }
                    .paragraph {
                    }
                }
            }
        }
        .cert {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 4.4em 0 0;
            z-index: 100;
            @media screen and (max-width: 991px) {
                width: 60%;
                margin: 0 auto;
                margin-top: 5em;
                padding: 0;
            }
            @media screen and (max-width: 580px) {
                width: 90%;
            }
            .cert-img {
                width: 80em;
                border-style: none;
                height: auto;
                @media screen and (max-width: 991px) {
                    width: 100%;
                }
            }
        }
    }
}

.tests-examples {
    @media screen and (max-width: 991px) {
        padding: 10em 0;
    }
    @media screen and (max-width: 768px) {
        font-size: 1.4em;
    }
    @media screen and (max-width: 420px) {
        font-size: 2.2em;
    }
    
    .container {
        padding: 6.5em 0 4em 0;
        max-width: 130em;
        margin: 0 auto;
        @media screen and (max-width: 991px) {
            padding: 0;
        }
        .title {
            font-size: 8.6em;
            font-weight: 800;
            width: 100%;
            text-align: center;
            padding: 0 0 0 0.2em;
            margin: 0 0 0.675em 0;
        }

        .tests {
            display: flex;
            align-items: stretch;
            justify-content: space-around;

            @media screen and (max-width: 991px) {
                flex-direction: column;
            }
            .test {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 35em;
                text-align: center;
                text-decoration: none;
                color: $text;

                @media screen and (max-width: 991px) {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    width: 60%;
                    margin: 0 auto;
                    margin-bottom: 10em;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                @media screen and (max-width: 420px) {
                    width: 90%;
                }
                .test-img {
                    margin: 0 0 1.2em 0;
                    display: block;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    @media screen and (max-width: 991px) {
                        width: 100%;
                        max-width: 10em;
                        margin: 0 5em 0 0;
                    }
                }
                .caption {
                    font-size: 2em;
                    text-align: center;

                    @media screen and (max-width: 1440px) {
                        font-size: 2.2em;
                    }
                    @media screen and (max-width: 991px) {
                        font-size: 3.8em;
                        text-align: left;
                    }
                }
            }
        }
    }
}

.map-block {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 76em;
    overflow: hidden;
    flex: none;
    @media screen and (max-width: 768px) {
        font-size: 1.4em;
        height: auto;
    }

    .map-wrap {
        width: 139.8em;
        display: flex;
        align-items: center;
        justify-content: center;
        .map {
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .registration {
        flex: 1;
        padding: 0 6.4em 0 8em;
        background-color: #f4f4f4;

        .form-registration {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 11.6em 0;
            @media screen and (max-width: 768px) {
                max-width: 70%;
                margin: 0 auto;
                font-size: 1.4em;
            }
            @media screen and (max-width: 580px) {
                font-size: 1.8em;
            }
            @media screen and (max-width: 420px) {
                font-size: 2.2em;
            }
            .title {
                font-size: 6.8em;
                font-weight: 800;
                letter-spacing: -0.025em;
                line-height: 0.94;
                margin: 0 0 1em 0.25em;
                color: $accent;
                @media screen and (max-width: 768px) {
                    margin-left: 0;
                    text-align: center;
                }
                @media screen and (max-width: 580px) {
                    font-size: 6em;
                }
            }

            .field {
                width: 100%;
                margin: 0 0 1.6em 0;
                @media screen and (max-width: 768px) {
                    margin-bottom: 5em;
                }
                .field-label {
                    width: 100%;
                    font-size: 2em;
                    margin: 0 0 0 0.9em;
                    color: $accent;
                    @media screen and (max-width: 768px) {
                        font-size: 2.8em;
                    }

                    @media screen and (max-width: 1440px) {
                        font-size: 2.4em;
                    }

                    input {
                        width: 100%;
                        font-size: 0.9em;
                        margin: 0.2em 0 0 0;
                        padding: 0.9em 1em;
                        border: none;
                        background-color: #fff;
                        color: $gray;
                        @media screen and (max-width: 768px) {
                            font-size: 1em;
                        }
                    }
                }
            }

            .submit {
                margin: 3.2em 0 0 0.3em;
                @media screen and (max-width: 768px) {
                    font-size: 2em;
                    margin: 2em auto 0;
                }
            }
        }
    }
}
