.advantages {
    height: 57.2em;
    width: 100%;
    background-color: $text;
    // background-image: url(../img/bg-advantages.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    &::after {
        position: absolute;
        content: "";
        display: block;
        background-image: url(../img/checklist.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 37em;
        height: 37em;
        top: 11em;
        left: 10em;
        z-index: 1;
    }
    .container {
        width: 155em;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 35em;
        box-sizing: border-box;
        .why {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            top: -3em;
            width: 25%;
            .title {
                font-size: 4.2em;
                color: #fff;
                font-weight: 900;
                width: 8em;
                line-height: .9;
            }
            .description {
                font-size: 2em;
                top: 2.3em;
                left: 0.1em;
                width: 13em;
                line-height: 1.245;
                color: #fff;
                span.strong {
                }
            }
        }

        .advantages-list {
            width: auto;
            top: auto;
            display: inline-flex;
            align-items: stretch;
            flex: 1;
            .advantage {
                display: inline-block;
                width: 33.3333%;
                padding: 0 2em;
                .icon {
                    text-align: center;
                    .icon-img {
                        width: 16em;
                    }
                }
                .description {
                    font-size: 2em;
                    color: #fff;
                    top: 1.25em;
                    text-align: center;
                    line-height: 1.225;
                    @media screen and (max-width:1440px) {
                        font-size: 2.4em;
                    }
                    span.strong {
                    }
                }
            }
            .advantage.advantage--teacher {
                margin: 0;
                .icon {
                    .icon-img {
                    }
                }
                .description {
                    span.strong {
                    }
                }
            }

            .advantage.advantage--tech {
                margin: 0;
                .icon {
                    .icon-img {
                    }
                }
                .description {
                    span.strong {
                    }
                }
            }

            .advantage.advantage--cert {
                margin: 0;
                .icon {
                    .icon-img {
                    }
                }
                .description {
                    span.strong {
                    }
                }
            }
        }
    }
}

.exam-structure {
    height: 42.3em;
    .structure {
        position: absolute;
        display: block;
        width: 22em;
        left: 35.3em;
        top: 8.9em;
        .title {
            color: $green;
            font-size: 4.2em;
            font-weight: 800;
            line-height: 1;
            margin: 0 0 0.8em 0;
        }
        .description {
            font-size: 2em;
            font-weight: normal;
            line-height: 1.25;
        }
    }

    .levels {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: auto;
        position: absolute;
        left: 78em;
        top: 13.2em;
        .exam-level {
            width: 30em;
            padding: 0 0 4.5em 0;
            flex: none;

            .title {
                font-size: 2em;
                font-weight: bold;
                color: $green;
                margin: 0 0 0.3em 0;
            }
            .theme {
                font-size: 2em;
                font-weight: bold;
                color: inherit;
                margin: 0 0 0.3em 0;
            }
            .contain {
                font-size: 2em;
                font-weight: normal;
                color: inherit;
                line-height: 1.55;
            }
            &::before {
                position: absolute;
                display: flex;
                content: "";
                background-color: #6ba671;
                width: 1.6em;
                height: 1.6em;
                bottom: -0.8em;
                left: 0;
                border-radius: 10em;
                z-index: 10;
                content: "1";
                color: #fff;
                align-items: center;
                justify-content: center;
                font-size: 4em;
                font-weight: 900;
                padding: 0.1em 0.05em 0 0;
                box-sizing: border-box;
            }
        }
        .exam-level-1 {
            width: 35.3em;
            padding-right: 10em;
            border-bottom: 0.3em solid $green;

            &::before {
                content: "1";
            }
        }
        .exam-level-2 {
            width: 24.3em;
            border-bottom: 0.3em solid $green;
            &::before {
                content: "2";
            }
        }
        .exam-level-3 {
            &::before {
                content: "3";
            }
        }
    }
}

.how-get-cert {
    background-color: $text;
    height: 68.3em;
    .container {
        max-width: 129.835em;
        margin: 0 auto;
        height: 100%;

        &::before {
            display: block;
            position: absolute;
            content: "";
            background-image: url(../img/folders.png);
            background-position: center;
            width: 54.2em;
            background-size: 100%;
            background-repeat: no-repeat;
            height: 36em;
            top: -6em;
            left: 1em;
            z-index: 5;
        }
        .title {
            font-size: 8.6em;
            color: #fff;
            font-weight: 800;
            width: 100%;
            padding: 0.75em 0.4em 0 8.6em;
            text-align: right;
            letter-spacing: -0.029em;
            line-height: 0.92;
        }

        .steps {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            margin-top: 10em;
            .step {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                .icon {
                    display: block;
                    width: 19.5em;
                }
                .description {
                    font-size: 2em;
                    color: #fff;
                    text-align: center;
                    padding: 0.9em 3.5em;
                    .strong {
                    }
                }
            }
            .step.step-1 {
                .icon {
                }
                .description {
                    .strong {
                    }
                }
            }
            .step.step-2 {
                padding: 0 0 0 2.4em;
                .icon {
                }
                .description {
                    padding: 0.9em 2.2em 0 1em;
                    .strong {
                    }
                }
            }
            .step.step-3 {
                padding: 0 0 0 2.7em;
                .icon {
                }
                .description {
                    padding: 0.9em 0em;
                    .strong {
                    }
                }
            }
            .step.step-4 {
                padding: 0 0 0 4em;
                .icon {
                }
                .description {
                    padding: 0.9em 3.5em;
                    .strong {
                    }
                }
            }
        }
    }
}

.work-schedule {
    .container {
        max-width: 130em;
        margin: 0 auto;
        padding: 10em 3.3em 11.6em 4.7em;
        .top-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 7.4em 0;
            .title {
                font-size: 8.6em;
                font-weight: 800;
                display: inline-block;
                flex: none;
            }
            .time {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                flex: none;
                width: 48.7em;
                padding: 0.4em 0 0 0;
                color: $accent;
                .start {
                    font-size: 8em;
                    font-weight: bold;
                }
                .end {
                    font-size: 8em;
                    font-weight: bold;
                }
                .defis {
                    display: block;
                    width: 8em;
                    height: 0.4em;
                    background-color: $accent;

                    &::before {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 1.4em;
                        height: 1.4em;
                        border-radius: 2em;
                        top: 50%;
                        left: 0;
                        transform: translate(-50%, -50%);
                        background-color: $accent;
                    }
                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 1.4em;
                        height: 1.4em;
                        border-radius: 2em;
                        top: 50%;
                        right: 0;
                        transform: translate(50%, -50%);
                        background-color: $accent;
                    }
                }
            }
        }

        .bottom-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.6em 0 0.9em;
            .day {
                font-size: 4em;
                font-weight: 800;
                text-transform: uppercase;
                border-radius: 10em;
                color: #fff;
                width: 2.9em;
                height: 2.9em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .day-work {
                background-color: $accent;

                &:nth-child(1) {
                    &::after {
                        position: absolute;
                        display: block;
                        width: 100%;
                        content: "";
                        height: 0.1em;
                        background-color: #3799c3;
                        top: 50%;
                        left: 80%;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
                
                &:nth-child(2) {
                    &::after {
                        position: absolute;
                        display: block;
                        width: 100%;
                        content: "";
                        height: 0.1em;
                        background-color: #3799c3;
                        top: 50%;
                        left: 80%;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }

                &:nth-child(3) {
                    &::after {
                        position: absolute;
                        display: block;
                        width: 100%;
                        content: "";
                        height: 0.1em;
                        background-color: #3799c3;
                        top: 50%;
                        left: 80%;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }

                &:nth-child(4) {
                    &::after {
                        position: absolute;
                        display: block;
                        width: 100%;
                        content: "";
                        height: 0.1em;
                        background-color: #3799c3;
                        top: 50%;
                        left: 80%;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
            }
            .day-weekend {
                background-color: $green;
                opacity: 0.5;
            }
        }
    }
}
.certificate {
    background-color: #f4f4f4;
    .container {
        padding: 7em 0 6.5em 0;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        .info {
            width: 50%;
            flex: none;
            padding: 6.9em 0 0 12.8em;
            .title {
                font-size: 6.8em;
                font-weight: 900;
                letter-spacing: -0.01em;
                line-height: 0.95;
                color: $accent;
                width: 100%;
                margin: 0 0 1.6em 0;

                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 50vw;
                    height: 0.03em;
                    background-color: $accent;
                    bottom: -0.05em;
                    left: 0;
                    z-index: 1;
                }
            }
            .texts {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                .col {
                    width: 50%;
                    .paragraph {
                        font-size: 2em;
                        color: $text;
                        font-weight: normal;
                        line-height: 1.15;
                        margin: 0 0 1.85em 0;

                        @media screen and (max-width: 1440px) {
                            font-size: 2.4em;
                        }
                    }
                }
                .col-left {
                    padding: 0 4.5em 0 0;
                    .paragraph {
                    }
                }
                .col-right {
                    padding: 0 0 0 2.2em;
                    .paragraph {
                    }
                }
            }
        }
        .cert {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 4.4em 0 0;
            z-index: 100;
            .cert-img {
                width: 80em;
                border-style: none;
                height: auto;
            }
        }
    }
}

.tests-examples {
    .container {
        padding: 6.5em 0 4em 0;
        max-width: 130em;
        margin: 0 auto;
        .title {
            font-size: 8.6em;
            font-weight: 800;
            width: 100%;
            text-align: center;
            padding: 0 0 0 0.2em;
            margin: 0 0 0.675em 0;
        }

        .tests {
            display: flex;
            align-items: stretch;
            justify-content: space-around;
            .test {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 35em;
                text-align: center;
                text-decoration: none;
                color: $text;
                .test-img {
                    margin: 0 0 1.2em 0;
                    display: block;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
                .caption {
                    font-size: 2em;
                    text-align: center;

                    @media screen and (max-width: 1440px) {
                        font-size: 2.2em;
                    }
                }
            }
        }
    }
}

.map-block {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 76em;
    overflow: hidden;
    flex: none;

    .map-wrap {
        width: 139.8em;
        display: flex;
        align-items: center;
        justify-content: center;
        .map {
            width: 100%;
            height: 100%;
        }
    }
    .registration {
        flex: 1;
        padding: 0 6.4em 0 8em;
        background-color: #F4F4F4;
        .form-registration {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 11.6em 0;
            .title {
                font-size: 6.8em;
                font-weight: 800;
                letter-spacing: -0.025em;
                line-height: .94;
                margin: 0 0 1em 0.25em;
                color: $accent;
            }

            .field {
                width: 100%;
                margin: 0 0 1.6em 0;
                .field-label {
                    width: 100%;
                    font-size: 2em;
                    margin: 0 0 0 0.9em;
                    color: $accent;

                    @media screen and (max-width: 1440px) {
                        font-size: 2.4em;
                    }
                    input {
                        width: 100%;
                        font-size: 0.9em;
                        margin: 0.2em 0 0 0;
                        padding: 0.9em 1em;
                        border: none;
                        background-color: #fff;
                        color: $gray;
                    }
                }
            }

            .submit {
                margin: 3.2em 0 0 0.3em;
            }
        }
    }
}
